.text_alert {
	font-size: 20px;
	text-align:center;
	padding: 50px;
}

#linechart_container {
	display: block;
	margin: 0 auto;
}

.svg_container {
    width: 600px;
	height: 300px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#linechart_container2_inv {
	text-align: center;
	margin: 20px 0px 0px 250px;
	display: block;
}

#barchart_container1_inv {
	text-align: center;
	margin: 20px 0px 0px 250px;
	display: block;
}

#barchart_container2_inv {
	text-align: center;
	margin: 20px 0px 0px 250px;
	display: block;
}

.vert-col {
	  background-color: #F7F7F7;
	  border: 1px solid #DDD;
	  margin: -7px 45px 10px -3px;
	  padding-bottom: 10px;
	  width: 13%;
	  height: 700px;
 }

.promo_image {
	height: 60px;
	margin-bottom: 20px;
}


