.text_alert {
	font-size: 20px;
	text-align:center;
	padding: 50px;
}

#linechart_container1 {
	text-align: center;
	margin: 20px 0px 0px 250px;
	display: block;
}
#linechart_container2 {
	text-align: center;
	margin: 20px 0px 0px 250px;
	display: block;
}

#barchart_container1 {
	text-align: center;
	margin: 20px 0px 0px 250px;
	display: block;
}

#barchart_container2 {
	text-align: center;
	margin: 20px 0px 0px 250px;
	display: block;
}
