<!DOCTYPE html>
{% load tag %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="text/html">
		<meta name="author" content="">
		<title>{% block title %}Allamew Analytics{% endblock %}</title>
		{% load staticfiles %}
		<script src="{% static "bower_components/jquery/jquery.js"%}"></script>
		<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
		<script src="{{STATIC_URL}}bootstrap-datetimepicker.min.js"></script>
		<script src="{% static "bower_components/bootstrap3-datepicker/js/bootstrap-datepicker.js" %}"></script>

		<link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}"  />

		<link rel="stylesheet" href="{{STATIC_URL}}custom_style.css"  />
		<link rel="stylesheet" href="{{STATIC_URL}}bootstrap-responsive.css"  />
		<link rel="stylesheet" href="{{STATIC_URL}}datetimepicker.css"/>
		<link rel="stylesheet" href="{% static "bower_components/bootstrap3-datepicker/css/datepicker.css" %}"/>
		<link rel="shortcut icon" href="favicon.ico" />
		<style type="type/css">
			body {
				margin: 0;
				padding: 0;
				text-align: center;
			}
		</style>

		{% block graph_code %}
		{% endblock %}
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand">Allamew Analytics</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="{% active path "^/home" %}"><a href="/">Home</a></li>
						{% if user.is_authenticated %}
						<li class="{% active path "^$" %}"><a href="/dashboard/">Dashboard</a></li>
						{% endif %}

						<li class="{% active path "^/contact/" %}"><a href="/contact/">Contact</a></li>
											</ul>
					

					<ul class="nav navbar-nav navbar-right">
						<li style="padding: 15px 10px 0px 10px;">
						<p style="color: #B0B0B0;">{% if user.is_authenticated %}Welcome, {{user.username}}, you are logged in.{% else %}You are not logged in.{% endif %} </p>
						</li>
						<li>
						{% if user.is_authenticated %}
						<a href="/logout">Logout</a>
						</li>

						{% else %}
						<a href="/login/">Login</a>
						</li>
						{% endif %}
					</ul>
					
				</div>
			</div>
		</div>
		<div style="padding: 50px 0px 10px 0px;">
			{% block content %}{% endblock %}
		</div>

		<script type="text/javascript">
		$('#sandbox-container .input-daterange').datepicker({
		    keyboardNavigation: false,
		    calendarWeeks: true,
		    autoclose: true
		});
		</script>
		<script type="text/javascript">
			  // Fix input element click problem
			  $('.dropdown input, .dropdown label').click(function(e) {
				e.stopPropagation();
			  });
			});
		</script>
	</body>
</html>				

