{% extends "base.html" %}

{% block content %}

<div class="container" style="text-algn: center; max-width: 800px">
	<h2>Why is this data collected?</h2>
	This data is collected to provide physical retalers with information such as the number of people who walkby the store, 
	the number of people who enter, how long they stay for, and whther they return.  This would help a business improve their operations, as it helps the business figure out what people want.  
	For example, in the case of a restaurant, if a certain deal results in more people coming in off the street, then the restaurant will know that it's a good deal, and will keep it.

	<h2>Exactly what information does the business see?</h2>
	The businesses who subscribe to this service only have access to the statistics below.  For a given time frame, such as an hour, day or week, they can see:
	<ol>
		<li>The number of people who walk by the store</li>
		<li>The number of people who enter the store</li>
		<li>The number of bounces (how many people leave very shortly after entering)</li>
		<li>The average number of visits per person</li>
	</ol>

	<h2>Is the data secure?</h2>
	The data is transferred from the sensor to the server over a secure, encrypted tunnel.  When the data arrives at the server, the MAC address if anonymised further using a hash function - a one-way encrytion which cannot be reversed.

</div>

{% endblock %}
