{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width: 700px;">
	<div style="text-align: center; ">
		<h1 style="font-size: 72px; line-height: 1.5; ">Allamew Analytics</h1>
		<p class="lead">The objective of Allamew is to provide businesses with information on customer flows, such as no of walkbys and store entries, and how long customers stay for.</p>
</div>

<hr style="margin: 30px 0px;">

<div class="row-fluid marketing" style="text-align: center; margin-top: 40px; max-width: 800px; ">
<div class="span6" style="max-width: 310px;">
	<h2>Privacy</h2>
	<p>No data is collected that can identify persons; we collect only a phone or laptop's MAC address, wifi signal strength, and the timestamp of the signal. To understand more, <a href="/data/">go here.</a></p>
	<p><button type="button" href="/optout/" class="btn btn-primary">Opt-out</button></p>

</div>

<div class="span6" style="max-width: 310px; float: right;">
	<h2>Installation</h2>
	<p>Installation is currently customised as per the store. However, an internet connection and a powerpoint are needed. The actual sensor is about 5cm squared, so can fit conveniently almost anywhere.</p>
</div>

</div>

<hr style="margin: 30px 0px;">
<div class="footer">
	<p>&copy; <a href="mailto:toconnor13@gmail.com">Allamew Analytics</p>
</div>




{% endblock %}




