{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">Dashboard</a>
					</div>
					<!--
					<ul class="nav nav-pills nav-stacked">
						<li class="active" style="padding: 50px;"><a href="#" style="pdding: auto">Dashboard</a></li>
						<li><a href="#">Campaigns</a></li>
					</ul>
					-->
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">Campaigns</a>
					</div>
				</div>
			</div>

			<div class="col-md-8">
			</div>
				<!--
				
				-->
		</div>
	</div>

	{% block the_rest %}

	{% endblock %}
{% endblock %}
