{% extends "base_dashboard.html" %}
{% block table_and_graph_html %}

<div class="row">
	<div class="page-header">
		<h2>Campaigns</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<table class="table table-bordered table-condensed table-hover" style="max-width: 800px">
			<thead>
				<th>Name</th>
				<th>Start</th>
				<th>End</th>
				<th>
					<a href="#" data-toggle="tooltip" class="tooltip1" title="The percentage change in the capture rate in the period.">Capture</a>
				</th>

				<th>
					<a href="#" data-toggle="tooltip" class="tooltip1" title="The percentage change in the bounce rate in the period.">Bounce</a>
				</th>

				<th><a href="#" data-toggle="tooltip" class="tooltip1" title="The change in the average duration during the period.">Duration</a>
				</th>
				<th>
					<a href="#" data-toggle="tooltip" class="tooltip1" title="The percentage of new customers who come during this period who return again outside the period.">Frequency</a>
				</th>
			</thead>

			<tbody>
				<tr>
					<td>Winter Sale</td>
					<td>26/12</td>
					<td>31/01</td>
					<td>+13%</td>
					<td>-20%</td>
					<td>+70s</td>
					<td>3%</td>
				<tr>

				<tr>
					<td>Irish Times Ad</td>
					<td>13/02</td>
					<td>30/02</td>
					<td>+0%</td>
					<td>+1%</td>
					<td>+5s</td>
					<td>23%</td>
				<tr>

				<tr>
					<td>Spring Campaign</td>
					<td>11/04</td>
					<td>20/04</td>
					<td>+2%</td>
					<td>-5%</td>
					<td>-30s</td>
					<td>9%</td>
				<tr>

				<tr>
					<td>Bus Advertisement</td>
					<td>01/05</td> 
					<td>14/05</td>
					<td>+10%</td>
					<td>-2%</td>
					<td>+25s</td>
					<td>15%</td>
				<tr>

				<tr>
					<td>Human Advertisement</td>
					<td>01/06</td>
					<td>08/06</td>
					<td>+16%</td>
					<td>+5%</td>
					<td>+32s</td>
					<td>1%</td>
				<tr>

				{% for object in object_list %}
				<tr>
					<td>{{object.name}}</td>
					<td>{{object.start}}</td>
					<td>{{object.end}}</td>
					<td>{{object.capture_rate_effect}}</td>
					<td>{{object.bounce_rate_effect}}</td>
					<td>{{object.duration_effect}}</td>
					<td>{{object.frequency_effect}}</td>
				<tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-2">
		<a class="btn btn-primary btn-lg pull-right" href="/dashboard/add/">Create a Campaign +</a>
	</div>
</div>

</div>
{% endblock %}

