{% extends "base_dashboard.html" %}

{% load nvd3_tags %}
{% block graphs %}
	{% load_chart charttype1 chartdata1 chartcontainer1 extra  %}
	{% load_chart charttype2 chartdata2 chartcontainer2 extra  %}
{% endblock %}

{% block table_and_graph_html %}

<div class="container text-center" style="margin-top: 30px;">

	<h2 style="text-align:center; margin: 0px 0px 15px 0px;">{{day.get_day_string}} <a href="/dashboard/">{{day.year}}</a> </h2>
	
</div>

<div class="container text-center" style = "max-width: 710px">
	<table class="table table-bordered table-condensed" style="margin: 20px; ">
		<thead>

			<th>Hour</th>
				<th>Walkbys</th>
				<th>Entries</th>
				<th>Bounces</th>
				<th>Capture Rate (%)</th>
				<th>Bounce Rate (%)</th>
				<th>Duration (mins)</th>

		</thead>

		<tbody>
			{% for hour in object_list %}
			<tr>
					<td>{{hour.get_hour_string}}</td>				
					<td>{{hour.no_of_walkbys}}</td>
					<td>{{hour.no_of_entries}}</td>
					<td>{{hour.no_of_bounces}}</td>
					<td>{{hour.get_capture_rate}}</td>
					<td>{{hour.get_bounce_rate}}</td>
					<td>{{hour.get_avg_duration}}</td>
				<tr>
			{% endfor %}
		</tbody>
	</table>

</div>



<div class="container" style="text-align:center; " >
	<div>

		<h3>Hourly Capture and Bounce Rates</h3>
			<div class="svg_container">
				{% include_container chartcontainer1 300 600 %}
			</div>
		<h3>Hourly Duration</h3>
			<div class="svg_container">
				{% include_container chartcontainer2 300 600 %}
			</div>
	</div>
</div>

{% endblock %}




