{% extends "base_dashboard.html" %}

{% block container_classes %}
"dashboard-ctn"
{% endblock %}

{% load nvd3_tags %}
{% block graphs %}
	{% load_chart charttype1 chartdata1 chartcontainer1 extra %}
	{% load_chart charttype2 chartdata2 chartcontainer2 extra %}
	{% load_chart charttype3 chartdata3 chartcontainer3 extra %}
	{% load_chart charttype7 chartdata7 chartcontainer7 extra %}
	{% load_chart charttype8 chartdata8 chartcontainer8 extra %}
{% endblock %}


{% block table_and_graph_html %}
		<div class="row dashboard-title-row" >
			<div class="col-md-6 col-xs-6">
				<h2 style="">{{object.print_self}}  |  <a href="/dashboard/">{{object.print_container}}</a> </h2>
			</div>
			<div class="col-md-6 col-xs-6">
				<ul class="pager pull-right">
					{% if previous_time %}
					<li><a href="/dashboard/{{request.session.focus}}/{{previous_time.id}}">Previous {{request.session.focus|title}}</a></li>
					{% endif %}
					{% if next_time %}
					<li><a href="/dashboard/{{request.session.focus}}/{{next_time.id}}">Next {{request.session.focus|title}}</a></li>
					{% endif %}
				</ul>
			</div>
	</div>

	<div class="row" style = "">
		<div class="col-md-5" style="max-width: 535px; margin-top: 20px;">
			{% if previous_time %}
			<table class="table table-bordered table-condensed">
				<thead>
					<th>Metric</th>
					<th>Previous {{request.session.focus|title}}</th>
					<th>Current {{request.session.focus|title}}</th>
					<th>Change</th>
				</thead>

				<tbody>
					<tr>
						<td>No. of Visitors</td>
						<td>{{previous_time.no_of_entries}} </td>
						<td>{{object.no_of_entries}} </td>
						{% if d_entries > 0 %}
						<td style="color: #009900;">+
						{% else %}
						<td	style="color: #FF0000;">
						{% endif %}
						{{ d_entries }}% </td>

					<tr>
					<tr>
						<td>Capture</td>
						<td>{{previous_time.get_capture_rate}}%</td>
						<td>{{object.get_capture_rate}} %</td>
						{% if d_capture > 0 %}
						<td style="color: #009900;">+
						{% else %}
						<td	style="color: #FF0000;">
						{% endif %}
						{{ d_capture }}% </td>
					<tr>
					<tr>
						<td>Bounce</td>
						<td>{{previous_time.get_bounce_rate}}% </td>
						<td>{{object.get_bounce_rate}}% </td>
						{% if d_bounce > 0 %}
						<td style="color: #009900;">+
						{% else %}
						<td style="color: #FF0000;">
						{% endif %}
						{{ d_bounce }}% </td>
					<tr>
					<tr>
						<td>Duration</td>
						<td>{{previous_time.get_avg_duration}} min</td>
						<td>{{object.get_avg_duration}} min</td>
						{% if d_avg_duration > 0 %}
						<td style="color: #009900;">+
						{% else %}
						<td style="color: #FF0000;">
						{% endif %}
						{{ d_avg_duration }} secs </td>
					<tr>
					<tr>
						<td>New Customers</td>
						<td>{{previous_time.percent_of_new_customers|floatformat}}% </td>
						<td>{{object.percent_of_new_customers|floatformat}}% </td>
						{% if d_new_custom > 0 %}
						<td style="color: #009900;">+
						{% else %}
						<td style="color: #FF0000;">
						{% endif %}
						{{ d_new_custom|floatformat }}%</td>
						
					<tr>
				</tbody>
			</table>
			{% else %}
			<table class="table table-bordered table-condensed">
				<thead>
					<th>Metric</th>
					<th>Current {{request.session.focus|title}}</th>
				</thead>

				<tbody>
					<tr>
						<td>No. of Visitors</td>
						<td>{{object.no_of_entries}} </td>
					<tr>
					<tr>
						<td>Capture</td>
						<td>{{object.get_capture_rate}} %</td>
					<tr>
					<tr>
						<td>Bounce</td>
						<td>{{object.get_bounce_rate}}% </td>
					<tr>
					<tr>
						<td>Duration</td>
						<td>{{object.get_avg_duration}} min</td>
					<tr>
					<tr>
						<td>New Customers</td>
						<td>{{object.percent_of_new_customers|floatformat}}% </td>
					<tr>
				</tbody>
			</table>
			{% endif %}

		<div class="row box" style="margin-top: 40px;">
			<h4 data-toggle="tooptip" class="text-center tooltip1" title="How many visits last for 0-5 mins, 5-10 mins, etc.">Duration of Visits</h4>
			<div class="col-md-2">
					{% include_container chartcontainer7 250 400 %}
					<p class="side_label">No. of People</p>
			</div>
		</div>
		<p class="graph_bottom_label">Length of Visit (mins)</p>
		
		<div class="row box" style="margin-top: 40px;">
			<h4 data-toggle="tooptip" class="text-center tooltip1" title="How many people visit once, twice, etc.">Visit Frequency</h4>
			<div class="col-md-2">
				{% include_container chartcontainer8 250 400 %}
				<p class="side_label">No. of People</p>
			</div>
		</div>
		<p class="graph_bottom_label">No. of Visits</p>
	</div>

	<div class="col-md-5 col-md-offset-1">
		<div class="row box" style="margin-top: 10px;">
			<h4 data-toggle="tooptip" class="text-center tooltip1" title="The rates throughout the time period">{{request.session.focus|title}} Breakdown</h4>
			<div class="col-md-2">
				{% include_container chartcontainer1 300 400 %}
			</div>
		</div>
		<p class="graph_bottom_label">Time of {{ request.session.focus|title }}</p>

		<div class="row box" style="margin-top: 30px;">
			<h4 data-toggle="tooptip" class="text-center tooltip1" title="Percentage of new customers throughout the time period">{{request.session.focus|title}} Breakdown</h4>
			<div class="col-md-2">
				{% include_container chartcontainer3 300 400 %}
			</div>
		</div>
		<p class="graph_bottom_label">Time of {{ request.session.focus|title }}</p>

		<div class="row box" style="margin-top: 30px;">
			<h4 data-toggle="tooptip" class="text-center tooltip1" title="Average duration throughout the time period">Average Duration Breakdown</h4>
			<div class="col-md-2">
				{% include_container chartcontainer2 250 400 %}
			</div>
		</div>
		<p class="graph_bottom_label">Time of {{ request.session.focus|title }}</p>
	</div>
	</div>

{% endblock %}




