{% extends "base_dashboard.html" %}

{% load nvd3_tags %}
{% block graphs %}
	{% load_chart charttype1 chartdata1 chartcontainer1 extra %}
	{% load_chart charttype2 chartdata2 chartcontainer2 extra %}
{% endblock %}

{% block table_and_graph_html %}
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-8" style = "max-width: 535px">
			<table class="table table-bordered table-condensed table-hover" style="margin: 20px 0px 0px 40px;">
				<thead>
					<th>Day</th>
						<th>Walkbys</th>
						<th>Captures</th>
						<th>Bounces</th>
						<th>Capture</th>
						<th>Bounce</th>
						<th>Duration</th>
				</thead>

				<tbody>
					{% for object in object_list %}
						<tr>
							<td><a href="/dashboard/{{object.id}}">{{object.describe}}</a></td>
								<td>{{object.no_of_walkbys}}</td>
								<td>{{object.no_of_entries}}</td>
								<td>{{object.no_of_bounces}}</td>
								<td>{{object.get_capture_rate}}%</td>
								<td>{{object.get_bounce_rate}}%</td>
								<td>{{object.get_avg_duration}}</td>
						<tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-md-4" style="margin: 20px 40px;">
			<div class="row">
				<div class="col-md-2 col-md-offset-1" >
					<div class="svg_container">
						{% include_container chartcontainer1 250 400 %}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-1" >
					<div class="svg_container">
						{% include_container chartcontainer2 250 400 %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}




